<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>

    {% for post in posts %}
    <div class="post" id="post_{{ post.id }}">
        <h2>{{ post['title'] }}</h2>
        <p><em>Written by {{ post['author'] }}</em></p>
        <p>{{ post['content'] | replace('\n', '<br>') | safe }}</p>

        <p>Tags:
        {% for tag in post['tags'] %}
            <a href="{{ url_for('tag_filter', tag=tag) }}">{{ tag }}</a>
        {% endfor %}
        </p>

        <p class="likes">Likes: <span id="likes_{{ post['id'] }}">{{ post['likes'] }}</span></p>
        <button class="like-btn" onclick="likePost('{{ post['id'] }}')">Like</button>

        <button class="delete-btn" onclick="confirmDelete('{{ post['id'] }}')">Delete</button>
        <a href="{{ url_for('update', post_id=post['id']) }}" class="update-btn">Update</a>
    </div>
    {% endfor %}

    <a href="{{ url_for('add') }}" class="add-btn">Add a new post</a>

    <!-- Include main.js script -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
